body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.retina {
  /*    for display on retina screens images created @2x actual dimensions then scaled back by 50%.
  images are scaled from top left, which effects css when wanting to use other alignment
  e.g. bottom:0; right:0; also requires transform-origin:bottom right;
  02/2016 webkit browsers:
  images including their containers must be block or inline-block.
  if css display:none or display:inline then transforms fail.
  */
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;

  /* image-rendering: auto; */
  /*image-rendering: crisp-edges;*/
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  z-index: 500;
}

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

/*@font-face {
  font-family: "DINOT";
  src: url("./fonts/DINOT.woff");
}*/

#text_holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #0000aa;
  font-family: "DINOT bold";
  font-size: 17px;
  /* line-height: 20px; */
  letter-spacing: -0.414px;
  top: 51px;
  left: 14px;
  width: 144px;
}

#text_holder > * {
  position: relative;
}

.blue {
  color: #0000aa;
}

.orange {
  color: #FF8300;
}

.city{
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.414px;
  font-family: "ESKlarheitGrotesk Xbd";
}
.to{
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 12px;
}
.startingAt{
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 13px;
  position: relative;
  margin-left: 22px;
  position: relative;
}

.asterisk {
  font-family:  "ESKlarheitGrotesk Smbd";
  font-size: 20px;
}

#h4{
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.414px;
  width: 140px;
  position: relative;
  top: 40px;
}

#h4 .asterisk {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 12px;
  position: relative;

}

#priceHolder {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 35px;
}

#starting_at{
/*  color: #FFFFFF;*/
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 13px;
  position: relative;
  /* margin-left: 22px; */
  margin-bottom: -5px;
  position: relative;
}

#price{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family:  "ESKlarheitGrotesk Smbd";
  letter-spacing: -0.414px;
  width: 140px;
  left: 0px;
}

.dollar {
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 26px;
  position: relative;
  margin-top: 12px;
}

#price .number {
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 50px;
  top: 10px;
  left: -2px;
  position: relative;
  display: table;
}
.number_3_char {
  top: 5px  !important;
  font-size: 42px !important;
}
.dollar_3_char{
  font-size: 23px !important;
}
.one_way_3_char{
  left: 2px  !important;
  top: 16px  !important;
  font-size: 16px  !important;
  line-height: 14px  !important;
}
.one_way_4_char{
  left: 2px  !important;
  top: 16px  !important;
  font-size: 14px  !important;
  line-height: 12px  !important;

}
.number_4_char {
  top: 5px  !important;
  font-size: 37px !important;
}
.dollar_4_char{
  font-size: 21px !important;

}
#price .one_way {
  left: 0px;
  margin-top: 28px;
  font-size: 15px;
  line-height: 0.8;
  position: relative;
}

#price .asterisk {
  font-family:  "ESKlarheitGrotesk Smbd";
  font-size: 12px;
  position: relative;
  top: -3px;
}

#cta {
  left: 1px;
  /* top: 78px; */
  width: 110px;
  height: 20px;
  background-color:#0000aa;
  border-radius: 7px;
  color: #fff;
  font-family:  "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.374px;
  padding: 5px 0px;
  transform-origin: 50% 50%;
}

.terms {
  color: #fff;
  position: absolute;
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  letter-spacing: -0.02em;
  line-height: 11px;
  text-align: left;
}


#terms1 {
  left: 11px;
  top: 567px;
  width: 300px;
}

#terms2 {
  left: 75px;
  top: 578px;
  width: 300px;
}

.asterisk{
  font-size: 7px;
}

#logo {
  top: 370px;
  left: 29px;
  width: 66px;
  height: auto;
  z-index: 1500;
}

.btn {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  z-index: 200;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}


.sm{
  font-size: 12px;
  line-height: 1.08333;
  letter-spacing: .2px;
}


#bgPanel {
  top: 0px;
/*  z-index: 150;*/
}

